/* основной цвет текста : #212121; */
/* вторичный цвет текста : #757575; */
/* акцентный цвет текста : #2196F3; */
/* заголовок : #FFFFFF; */
/* футер вторичный цвет : rgba(255, 255, 255, 0.6); */
/* бекграунд фон : #2F303A; */
/* бекграунд кнопка main : #188CE8 */
/* бекграунд секции команда : #F5F4FA */
/* header border : #ECECEC */
/* list-img border : #eeeeee */
/* background btn portfolio : #f5f4fa  */
/* link color : #AFB1B8 */
/* background img : rgba(47, 48, 58, 0.8) */

:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --footer-secondary-text-color: rgba(255, 255, 255, 0.6);
    --background-fon: #2f303a;
    --background-btn-main: #188ce8;
    --background-section-four: #f5f4fa;
    --header-border: #ececec;
    --list-img-border: #eeeeee;
    --background-btn-portfoliio: #f5f4fa;
    --link-color: #afb1b8;
    --background-img: rgba(47, 48, 58, 0.8);
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
box-sizing: inherit;
}

body {
    font-family: "Roboto", "sans-serif";
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--white-color);
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block; 
    max-width: 100%; 
    height: auto;
}

.section-one,
.section-two,
.section-three,
.section-four,
.portfolio-section-one,
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/*----------скрытые заголовки */
.section-two-title,
.portfolio-section-one-title,
.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*----------контейнер */
.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*----------logo */
.logo {
    color: var(--accent-color);
    font-family: "Raleway", "sans-serif";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo span {
    color: var(--secondary-text-color);
}

/*----------nav */
.nav{
    display: flex;
}
.header-nav{
    display: flex;
    align-items: center;
}

.header-list .link {
    position: relative;

    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
    padding: 32px 0;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list .link:hover,
.header-list .link:focus {
    color: var(--accent-color);
}

.header-list .link.current {
    color: var(--accent-color);
}

.header-list .link.current::after {
    content: '';
    position: absolute;

    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    bottom: 0;
    left: 0;
    border-radius: 2px;
}

.header-list{
    display: flex;
    margin-left: 93px;
}

.header-list li+li,
.header-list-contacts li+li{
    margin-left: 50px;
}

/*----------contacts */
.header-list-contacts{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-list-contacts .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-contacts .link:hover,
.header-list-contacts .link:focus {
    color: var(--accent-color);
}

.header-list-contacts .icon {
    margin-right: 10px;
    fill: currentColor;
}

/*----------кнопка заказать услугу */
.section-one-title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    max-width: 696px;
    
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.section-one {
    background-color: var(--background-fon);
    text-align: center;
    padding: 200px 0;
}

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* /////синие кнопки///// */
.section-one button,
.modal-button-submit,
.submit-form-button {
    color: var(--white-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    min-width: 200px;

    border-radius: 4px;
    padding: 10px 32px;
    border: 0px;
    margin-left: auto;
    margin-right: auto;

    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-one button:hover,
.section-one button:focus,
.modal-button-submit:hover,
.modal-button-submit:focus,
.submit-form-button:hover,
.submit-form-button:focus {
    background-color: var(--background-btn-main);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/*----------заголовки секций */
.section-two-title,
.section-three-title,
.section-four-title,
.portfolio-section-one-title,
.section-title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

/*----------плюсы и преимущества */
.section-two-list{
    display: flex;
}

.section-two-list li+li{
    margin-left: 30px;
}

.section-two-list li{
    width: 270px;
}

.section-two-list .title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.section-two-list p {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.section-two-list li::before {
    display: block;
    content: "";
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--background-section-four);
    margin-bottom: 30px;
}

.section-two-list li:nth-child(1)::before {
    background-image: url(../images/antenna.svg);
}

.section-two-list li:nth-child(2)::before {
    background-image: url(../images/clock.svg);
}

.section-two-list li:nth-child(3)::before {
    background-image: url(../images/diagram.svg);
}

.section-two-list li:nth-child(4)::before {
    background-image: url(../images/astronaut.svg);
}

/*----------чем мы занимаемся */ 
.section-three {
    padding-top: 0;
}

.section-three-title {
    margin-bottom: 50px;
}

.section-three-list {
    display: flex;
}

.section-three-list li+li {
    margin-left: 30px;
}

.section-three-list li {
    position: relative;
}

.section-three-list p {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    bottom: 0;
    background-color: var(--background-img);

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-color);
}

/*----------команда */
.section-four {
    background-color: var(--background-section-four);
}

.section-four-title {
    margin-bottom: 50px;
}

.section-four-list {
    display: flex;
}

.section-four-list .card+.card {
    margin-left: 30px;
}

.section-four-list .card {
    background-color: var(--white-color);
    text-align: center;
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.section-four-list .title {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.section-four-list .name {
    padding: 30px 0;
}

.section-four p {
    font-size: 16px;
    margin-bottom: 16px;
}

.team-links-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-links-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-links-item+.team-links-item {
    margin-left: 10px;
}

.soc-link {
    color: var(--link-color);
    width: 44px;
    height: 44px;
    background-color: var(--white-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover,
.soc-link:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}


.team-soc-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

/*----------clients*/
.clients-list {
    display: flex;
}

.clients-icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}

.clients-item {
    display: flex;
}

.clients-item+.clients-item {
    margin-left: 30px;
}

.clients-link {
    color: var(--link-color);
    border: 1px solid var(--link-color);
    border-radius: 4px;
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.section-title.clients {
    margin-bottom: 50px;
}

/*----------css portfolio----------*/
.portfolio-main {
    border-top: 1px solid var(--header-border);
}

/*----------portfolio buttons */
.portfolio-section-one-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-section-one-list li+li {
    margin-left: 8px;
}

.portfolio-section-one-list button {
    color: var(--secondary-text-color);
    background-color: var(--background-btn-portfoliio);
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;

    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    border: 0px;

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section-one-list button:hover,
.portfolio-section-one-list button:focus {
    background-color: var(--accent-color);
    color: var(--white-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/*----------галерея */
.list-img {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.list-img li {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    background-color: var(--white-color);
}

.list-img > li > a {
    text-decoration: none;
}

.list-img .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    margin-bottom: 4px;
}

.list-img .text {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.borders {
    padding: 24px 20px;
    border-bottom: 1px solid var(--list-img-border); 
    border-left: 1px solid var(--list-img-border);
    border-right: 1px solid var(--list-img-border);
}

.list-img>li>a {
    display: block;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-img>li>a:hover,
.list-img>li>a:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.blue-overlay {
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.blue-overlay-text {
    position: absolute;
    transform: translateY(295px);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--white-color);

    z-index: 1;

    padding: 63px 24px;
}

.blue-overlay::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(295px);


    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-card>a:hover .blue-overlay::after {
    transform: translateY(0px);
}

.gallery-card>a:focus .blue-overlay::after {
    transform: translateY(0px);
}

.gallery-card>a:hover .blue-overlay-text {
    transform: translateY(0px);
}

.gallery-card>a:focus .blue-overlay-text {
    transform: translateY(0px);
}

/*----------футер */
.footer {
    background-color: var(--background-fon);
    padding: 60px 0;
}

/*----------logo */
.logo-footer {
    color: var(--accent-color);
    font-family: "Raleway", "sans-serif";
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

.logo-footer span {
    color: var(--white-color);
}

/*----------address */
.address li+li {
    margin-top: 9px;
}
.address .link-address {
    color: var(--white-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address .link-address:hover,
.address .link-address:focus {
    color: var(--accent-color);
}

.address .link {
    color: var(--footer-secondary-text-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address .link:hover,
.address .link:focus {
    color: var(--accent-color);
}

/*----------присоединяйтесь*/
.ftr {
    display: flex;
    align-items: baseline;
}

.div-footer {
    display: flex;
    flex-direction: column;
}

.div-footer-soc-links {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.soc-footer-list {
    display: flex;
}

.title-footer-links,
.submit-form-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
}

.soc-footer-item+.soc-footer-item {
    margin-left: 10px;
}

.soc-footer-link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--white-color);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-footer-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.soc-footer-link:hover,
.soc-footer-link:focus {
    background-color: var(--accent-color);
}

/*----------submit*/
.submit {
    margin-left: 93px;
}

.submit-form {
    display: flex;
    flex-direction: row;
}

.submit-form-input {
    width: 358px;
    height: 50px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    padding: 15px 16px;
    background-color: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.submit-form-input:hover,
.submit-form-input:focus {
    border-color: var(--accent-color);
}

.submit-form-input::placeholder {
    background-color: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.submit-form-button {
    margin-left: 12px;
}

.submit-form-icon {
    margin-left: 10px;
    fill: var(--white-color);
}

/*----------modal*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;

    opacity: 1;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.6);
}

.modal {
    width: 528px;
    height: 581px;
    background-color: var(--white-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    flex-direction: column;

    padding: 40px;
}

.close-modal {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: 8px;
    
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
}

.close-modal:hover {
    color: var(--accent-color);
}

.modal-title {
    margin: 0;
    margin-bottom: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}

.form-list {
    margin: 0;
    padding: 0;
}

.form-field {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-field:nth-last-child(2) {
    margin-bottom: 20px;
}

.form-field:last-child {
    margin-bottom: 30px;
}

.icon-modal {
    position: absolute;
    top: 65%;
    left: 14px;
    transform: translateY(-50%);
    fill: var(--secondary-text-color);
    display: inline-block;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
    margin-bottom: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: var(--primary-text-color);
}

.form-field.policy {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.modal-input {
    width: 448px;
    height: 40px;
    margin: 0;
    padding: 0px 11px 0px 42px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:hover {
    border-color: var(--accent-color);
}

.modal-input:focus + .icon-modal,
.modal-input:hover + .icon-modal {
    fill: var(--accent-color);
}

.icon-modal-checkbox {
    display: block;
    content: '';
    margin-right: 7px;

    border: 2px solid #2a2a2a;
    border-radius: 1.78px;
    fill: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:hover + .icon-modal-checkbox {
    border-color: var(--accent-color);
}

.checkbox:checked + .icon-modal-checkbox {
    background-size: contain;
    background-origin: border-box;
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    fill: var(--white-color)
}

.comment {
    width: 100%;
    height: 120px;

    outline: none;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding: 12px 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus,
.comment:hover {
    border-color: var(--accent-color);
}

.comment::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.policy-label {
    display: flex;
    align-items: center;
    margin-left: 7px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.policy-link {
    margin-left: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;

    color: var(--accent-color);
}
