.section-two-list {
    display: flex;
}

.section-two-list li+li {
    margin-left: 30px;
}

.section-two-list li {
    width: 270px;
}

.section-two-list .title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.section-two-list p {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.section-two-list li::before {
    display: block;
    content: "";
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--background-section-four);
    margin-bottom: 30px;
}

.section-two-list li:nth-child(1)::before {
    background-image: url(../images/antenna.svg);
}

.section-two-list li:nth-child(2)::before {
    background-image: url(../images/clock.svg);
}

.section-two-list li:nth-child(3)::before {
    background-image: url(../images/diagram.svg);
}

.section-two-list li:nth-child(4)::before {
    background-image: url(../images/astronaut.svg);
}