.section-two-title,
.section-three-title,
.section-four-title,
.portfolio-section-one-title,
.section-title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}